* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px 10px;
  margin-top: 10px;
}

button[type="submit"] {
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  border: 0px;
  background-color: skyblue;
  color: white;
}

button[type="button"] {
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  border: 0px;
  background-color: red;
  color: white;
}

button[type="reset"] {
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 15px;
  border: 0px;
  background-color: red;
  color: white;
}

.notesPost {
  margin-top: 10px;
  border: solid red 2px;
  padding: 30px;
  width: 300px;
}
