body{
    padding: 0;
    margin: 0px auto;
    display: flex;
    justify-content: center;
   
  }
  h1 {
    text-align: center;
  }
  .btn{
    color: white;
    padding: 5px;
    margin-left: 20px;
    border-radius: 0px;
    width: 100px;
  }
  .btn:hover{
    color: #000;
    background-color: white;
  }
  .btn-success{
    background-color: green;
  }
  .btn-danger{
    background-color: red;
  }
  .btn-primary{
    background-color: purple;
  }
  .itemClass {
    font-size: 20px;
    font-style: italic;
    margin: 10px;
  }
  .form-input {
    margin: 10px;
    position: relative;
    top: 5px;
    padding: 5px;
    width: 300px;
  
  }
  