#it means which file will run first when we opwn the directory From server 
DirectoryIndex sss.php

#this is use when we get 404 error, we load the file from the errorFolder Folder then 404.html file  
#ErrorDocument 404 /AAAA/17.UrlRewrite/3.tect_web/errorFolder/404.html
#ErrorDocument 403 /AAAA/17.UrlRewrite/3.tect_web/errorFolder/403.html

#this options is used to hide all the files from the server simple say Hide index
#Options -Indexes


IndexIgnore password.txt